.container {
  .selected {
    width: 900px;
    height: 50px;
    background: white;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 15px;

    ul {
      list-style: none;
      padding: 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      height: 100%;
    }

    li {
      float: left;
      padding: 0 20px;
    }

    li a {
      display: flex;
      color: black;
    }

    .activeClassName {
      color: deepskyblue;
      border-bottom: 2px solid rgb(196, 17, 196);
      padding: 10px;
    }
  }
}

.views {
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  background: white;
  border-radius: 5px;
  display: flex;

  span {
    font-size: 15px;
    position: relative;
    top: -10px;
  }
}
