.container2 {
  border-radius: 3px;

  .selected {
    width: 900px;
    height: 50px;
    background: white;
    margin: 0 auto;
    border-radius: 10px;

    ul {
      list-style: none;
      padding: 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      height: 100%;
    }

    li {
      float: left;
      padding: 0 20px;
    }

    li a {
      display: flex;
      color: black;
    }

    .activeClassName {
      color: deepskyblue;
      border-bottom: 2px solid rgb(196, 17, 196);
      padding: 10px;
    }
  }

  .views-city {
    background-color: white;
    border-radius: 5px;
    margin-top: 15px;

    .views-city-top {
      display: flex;
      align-items: center;
      margin-left: 22px;
      margin-right: 20px;
      padding-top: 15px;
      width: 95%;

      .title-city {
        width: 16.5%;
      }
      
      .name-city {
        width: 33%;
      }

      .switch {
        width: 53%;
        text-align: right;
      }
    } 
    
    h4 {
      position: relative;
      top: 1px
    }
  
    .timer {
      margin-left: 22px;
      margin-right: 20px;
    }
  
    .hr {
      margin: 20px;
      border-bottom: 1px solid grey;
    }
  }

  .views-temp {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    height: 30px;

    .clock {
      width: 10%;
      text-align: center;
      font-weight: 650;
    }

    .temp {
      width: 10%;
      text-align: right;
      font-weight: 700;
      font-size: 20px;
    }

    .status-temp {
      width: 20%;
      text-align: right;
    }

    .description {
      width: 20%;
      font-size: 15px;
      text-Transform: capitalize;
    }
    .humidity {
      width: 15%;
      text-align: right;
    }

    .wind-speed {
      width: 25%;
      text-align: center;
    }
  }

  .ant-collapse-ghost {
    padding-bottom: 10px;
    margin: 0 20px;

    .ant-collapse-header {
      float: right;
      position: relative;
      top: -38px;
      margin-right: -10px;
      color: dodgerblue!important;
    }

    .full-temp {
      border: 1px solid gray!important;
      border-radius: 5px;
      margin-top: 20px;
  
      .temp-top {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
  
        .temp-items {
          display: flex;
          flex-direction: column;
          align-items: center;
  
          .temp-views {
            display: flex;
          }
        }
      }
    }
  }
}
