.views-left {
  width: 30%;
  text-align: center;

  .anticon-menu {
    padding: 5px;
    cursor: pointer;
    border-radius: 2px;
    float: left;
  }

  .anticon-menu:hover {
    background-color: rgb(189, 251, 255);
  }

  .views-left-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;

    h1 {
      font-size: 20px;
      margin-left: 35px;
    }

    .ant-switch-checked,
    .ant-switch {
      margin-bottom: 10px;
      margin-left: 30px;
    }
  }

  .views-left-weather {
    display: flex;
    align-items: center;
    margin-left: 70px;

    b {
      font-size: 25px;
      margin-left: 20px;
    }
  }

  .infoweather {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    .humidity {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 50px;
    }
  }
}
