.views-right {
  width: 70%;

  .anticon-close {
    float: right;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px;
  }

  .anticon-close:hover {
    background-color: rgb(189, 251, 255);
  }

  .views-right-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    font-size: 9px;

    .views-details {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3{
        text-align: center;
      }

      img {
        width: 80px;
      }

      .humidity2 {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .active {
      background-color: dodgerblue;
      border-radius: 5px;
      padding: 5px 10px;
    }
  }
}
