.container4 {

  .selected {
    width: 900px;
    height: 50px;
    background: white;
    margin: 0 auto;
    border-radius: 5px;

    ul {
      list-style: none;
      padding: 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      height: 100%;
    }

    li {
      float: left;
      padding: 0 20px;
    }

    li a {
      display: flex;
      color: black;
    }

    .activeClassName {
      color: deepskyblue;
      border-bottom: 2px solid rgb(196, 17, 196);
      padding: 10px;
    }
  }

  .views-month {
    background-color: white;
    border-radius: 5px;
    margin-top: 15px;

    .views-month-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 22px;
      margin-right: 20px;
      padding-top: 15px;
      width: 95%;

      .title-month {
        display: flex;

        h4 {
          top: 3.5px;
          left: 3px;
        }
      }
    } 

    h4 {
      position: relative;
      top: 1px
    }
  
    .timer-month {
      margin-left: 22px;
      margin-right: 20px;
    }
  
    .hr {
      margin: 10px 20px;
      border-bottom: 1px solid grey;
    }

    .list-days {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 20px;

      span {
        width: 100%;
        text-align: center;
        padding: 8px 10px;
        font-weight: 500;
      }
    }

    .day-month {
      margin: 0 20px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      margin-bottom: 10px;
      width: 97.5%;

      .btn_day {
        display: flex;
        justify-content: Space-between;
        align-items: center;
        border: 1px solid #dedede;
        flex-flow: column;
        padding: 10px 4px;
        cursor: pointer;
        background-color: transparent;
        width: 14%;
        height: 120px;
  
        img {
          width: 60px;
        }
      }
    
      .btn_day.outside {
        opacity: .4;
      }
    
      .btn_day:focus {
        outline: 2px solid var(--black-color);
        z-index: 99;
        border: 2px solid black;
        border-radius: 3px;
      }
    }
  }
}
