.container3 {
  border-radius: 5px;

  .selected {
    width: 900px;
    height: 50px;
    background: white;
    margin: 0 auto;
    border-radius: 5px;

    ul {
      list-style: none;
      padding: 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      height: 100%;
    }

    li {
      float: left;
      padding: 0 20px;
    }

    li a {
      display: flex;
      color: black;
    }

    .activeClassName {
      color: deepskyblue;
      border-bottom: 2px solid rgb(196, 17, 196);
      padding: 10px;
    }
  }

  .views-city {
    background-color: white;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 5px;

    .views-city-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 22px;
      margin-right: 20px;
      padding-top: 15px;
      width: 95%;

      .title-city {
        display: flex;

        h4 {
          top: 3.5px;
          left: 3px;
        }
      }

      .switch-location {
        margin-left: 380px;
      }
    } 
    
    h4 {
      position: relative;
      top: 1px
    }
  
    .timer {
      margin-left: 22px;
      margin-right: 20px;
    }
  
    .hr {
      margin: 5px 20px;
      border-bottom: 1px solid grey;
    }

    .hr:last-child {
      border-bottom: 1px solid white;
    }
  }
}
